<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Movie Catelog</title>
</head>

<body>
  <h1>Movie Catelog</h1>
  <a href="/movies">Movies</a>
  <br>
  <a href="/actors">Actors</a>

</body>
</html>
