<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Actors</title>
</head>

<body>

  <table>
    <% @actor_names_data.each do |actor| %>
      <tr>
        <td>
          <a href="<%= url("/actors/#{actor["id"]}") %>">
            <%= actor["name"] %>
          </a>
        </td>
      </tr>
    <% end %>
  </table>

</body>
</html>
